body {
  margin-bottom: 50px;
}

h2 {
  width: 100%;
  margin: auto;
  text-align: center;
}

h3 {
  padding-top: 18px;
  padding-left: 50px;
}

h4 {
  color: rgb(1, 224, 157);
  padding-top: 8px;
  padding-left: 50px;
}

p.highlight {
  color: rgb(81, 107, 255);
}

div.services {
  padding-top: 50px;
  margin-left: 50px;
}

div.routes_container {
  background-color: rgb(252, 233, 206);
  padding-top: 16;
  padding-left: 80px;
}

div.form_element {
  padding-top: 8;
}

div.space {
  height: 50px;
}

div.space16 {
  height: 16px;
}

div.space8 {
  height: 8px;
}

footer {
  position: fixed;
  height: 70px;
  background-color: rgb(223, 223, 223);
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

button.default {
  color: black;
  background-color: cyan;
  height: 32px;
  width: 150px;
  margin-top: 18px;
  margin-bottom: 32px;
  margin-left: 600px;
}

button.addButton {
  color: black;
  background-color: rgb(0, 255, 42);
  height: 32px;
  width: 150px;
  margin-top: 18px;
  margin-bottom: 16px;
  margin-left: 800px;
}

button.editButton {
  color: black;
  background-color: rgb(255, 73, 158);
  height: 32px;
  width: 150px;
  margin-top: 18px;
  margin-left: 50px;
}

button.addFirst {
  color: black;
  background-color: rgb(0, 255, 191);
  height: 32px;
  width: 150px;
  margin-left: 640px;
  margin-top: 18px;
}
