<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Add new</title>
</head>

<body>
  <h3>Add new service</h3>
  <form action="/add" method="POST" enctype="multipart/form-data">
    <div id="serviceContainer">

      <div class="form_element">
        <label>name: </label>
        <input type="text" value="" name="service_name">
      </div>

      <ul id="dynamicList">
        <div class="routes_container">
          <div class="form_element" id="routeId">
            <label>route: </label>
            <input type="text" value="" name="route">
          </div>

          <div class="space8"></div>
          responses
          <div class="form_element">
            <input type="file" multiple="multiple" name="responses0">
          </div>

          <div class="space16"></div>
        </ul>

      </div>
    </div>

    <footer>
      <div>
        <button class="default" type="submit">Save</button>
        <div class="space"></div>
      </div>
    </footer>

  </form>
  <button class="addButton" id="addRouteButton">Add more routes</button>
</body>

<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>

</html>
